<section class="bg-black h-screen w-full text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <footer class="absolute bottom-0 left-0 w-full pb-3">
            <h2 class="text-white hover:text-[#62734F] pb-8 text-3xl font-medium italic">"Bienvenidos a una experiencia unica"</h2>
            <div class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-[#62734F] hover:text-black transition">
                <a href="#">Quiero saber más</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 z-10 aspect-video">
    <video class="object-center object-cover w-full h-full" autoplay muted loop src="/assets/video.webm"></video>
    </div>
</section>


<!-- <section class="container relative h-screen w-screen overflow-hidden text-center">
    <div class="absolute top-0 left-0 w-full h-full z-10">
        <video class="w-full h-auto max-w-full object-cover object-center" autoplay muted loop src="/assets/video.webm"></video>
    </div>
    <header class="absolute top-0 left-0 w-full z-20">
        <div>
            <h2 class="text-white pt-10 text-3xl font-medium italic">"Bienvenidos a una experiencia unica"</h2>
        </div>
    </header>
    <footer class="absolute bottom-0 left-0 w-full z-20 pb-3">
        <div class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-[#62734F] hover:text-black transition">
            <a href="">Quiero saber más</a>
        </div>
    </footer>
 </section> -->
 <!-- <section class="">
    <div class="">
        <video class="" autoplay muted loop src="/assets/video.webm"></video>
    </div>
    <header class="">
        <div>
            <h2 class="">"Bienvenidos a una experiencia unica"</h2>
        </div>
    </header>
    <footer class="">
        <div class="">
            <a href="">Quiero saber más</a>
        </div>
    </footer>
 </section> -->
