<section class="mt-40 bg-[#D2B895]" style="background-image: url(/assets/contacto.avif)">
    <article class="hero min-h-screen" style="background-image: url(/assets/beneficios1.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">¿Qué es la Equinoterapia?</h1>
            <p class="mb-5">La Equinotrapia es una actividad conocida en todo el mundo por los logros alcanzados. Es una terapia que utiliza el caballo como instrumento terapéutico para la rehabilitación de pacientes con diversas patologías. Se abordan las áreas motora, cognitiva, emocional, social y de lenguaje.</p>
          </div>
        </div>
    </article>
    <article class="py-24">
      <div class="container px-5 mx-auto">
        <div class="flex flex-wrap w-full mb-20 bg-gray-100 rounded-lg bg-opacity-90 p-6 ">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">¿Por qué los caballos? </h1>
            <div class="h-1 w-28 bg-[#96A280] rounded"></div>
          </div>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-600 mb-1">Pues los mismos en su andar, realizan un movimiento tridimensional (Arriba, abajo, adelante, atrás y hacia los lados) que es trasmitido al jinete como masajes, calor y una gran cantidad de estímulos que impactan a nivel neurológico estimulando los músculos y las articulaciones. Mejora los impulsos rítmicos variables y repetitivos.</p>
          <p class=" w-full leading-relaxed text-gray-600 mb-1">Cada paso completo del caballo presenta patrones semejantes al caminar humano, impone dislocaciones de la cintura pélvica del jinete del orden de los 5 cm. en el plano vertical, horizontal y longitudinal y una rotación de 8 grados para un lado y para el otro. El caballo al dislocarse, exige al jinete ajustes tónicos para adaptar su equilibrio a cada movimiento. Cada paso del caballo, produce desde 1 a 1,25 movimientos por segundo, en 30 minutos de trabajo, el jinete ejecuta entre 1800 y 2250 ajustes ósteo-articulares que son transmitidos al cerebro vía médula con una frecuencia de 180 oscilaciones por minuto, esto hace que se genere una notable mejora en el tono muscular, de marcha y de coordinación.</p>
          <p class=" w-full leading-relaxed text-gray-600 mb-1">Además, el contacto con el caballo aporta facetas terapéuticas a niveles cognitivos, comunicativos y de personalidad, pues el campo abierto con sus sonidos, colores, aromas es utilizado también como estímulo sensorial en el tratamiento. Los jinetes experimentan en las sesiones un gran sentimiento de autonomía y seguridad al poder dirigir al animal hacia el lugar deseado. </p>
        </div>
      </div>
      <app-swiper-slider></app-swiper-slider>
    </article>
    <article>
      <section class="text-gray-700 body-font ">
        <div class="container px-5 py-24 mx-auto flex flex-wrap ">
          <div class="lg:w-2/3 mx-auto mb-20">
            <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4 rounded-xl">
              <img alt="gallery" class="rounded-xl w-full object-cover h-full object-center block opacity-40 absolute inset-0" src="/assets/beneficios2.jpg">
              <div class="text-center relative z-10 w-full">
                <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">¿A quienes está dirigido?</h2>
                <p class="leading-relaxed">Esta actividad está destinada a personas de todas las edades, desde 45 días a adultos sin límite de edad.De ésta actividad pueden beneficiarse personas con diferentes patologías como:</p>
                    <ul class=" list-inside list-none mt-1">
                      <li class="leading-tight"><i>Patologías neurológicas:parálisis cerebral, esclerosis múltiple, hemiplejia Paraplejia, biplejia</i></li>
                      <li class="leading-tight"><i>Distrofia muscular</i></li>
                      <li class="leading-tight"><i>Hipotonía muscular</i></li>
                      <li class="leading-tight"><i>Amputaciones</i></li>
                      <li class="leading-tight"><i>Hipersensibilidad sensorial</i></li>
                  </ul>
              </div>
            </div>
            <div class="container flex flex-col sm:flex-row -mx-2 h-[355px] md:h-80">
              <figcaption class="px-2 w-full sm:w-1/2 h-[355px] mb-1 sm:mb-1">
                <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative rounded-xl">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-40 absolute inset-0 rounded-xl" src="/assets/beneficios3.jpg">
                  <div class="text-center relative z-10 w-full">
                        <ul class=" list-inside list-none mt-1">
                            <li class="leading-tight"><i>Sordera y ceguera</i></li>
                            <li class="leading-tight"><i>Síndrome de Down</i></li>
                            <li class="leading-tight"><i>Autismo</i></li>
                            <li class="leading-tight"><i>Deficiencia mental</i></li>
                            <li class="leading-tight"><i>Déficit de atención</i></li>
                            <li class="leading-tight"><i>Retraso psicomotor</i></li>
                        </ul>
                  </div>
                </div>
              </figcaption>
              <figcaption class="px-2 w-full sm:w-1/2 h-[355px] mb-1 sm:mb-1">
                <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative rounded-xl">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-40 absolute inset-0 rounded-xl" src="/assets/beneficios4.jpg">
                  <div class="text-center relative z-10 w-full">
                    <ul class=" list-inside list-none mt-1">
                      <li class="leading-tight"><i>Dificultades del lenguaje</i></li>
                      <li class="leading-tight"><i>Bipolaridad</i></li>
                      <li class="leading-tight"><i>Enfermedades traumatológicas</i></li>
                      <li class="leading-tight"><i>Dificultades escolares</i></li>
                      <li class="leading-tight"><i>Enfermedades neurodegenerativas</i></li>
                      <li class="leading-tight"><i>Entre otros…</i></li>
                    </ul>
                  </div>
                </div>
              </figcaption>
            </div>
          </div>
        </div>
      </section>
    </article>
    <article>
      <section>
        <section class="text-gray-600 body-font">
          <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center bg-gray-100 rounded-lg opacity-80 mr-2 pl-2">
              <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Cientificamente</h1>
              <p class="mb-8 leading-relaxed">Este proceso de estimulación produce endorfinas y minimiza la generación de arcanos, lo que favorece la sinapsis neuronal, permite que el cerebro identifique: músculos, miembros, órganos, etc. y comience a mandar instrucciones a éstos, favoreciendo el proceso de habilitación neuro - muscular, ya que en la gran mayoría de los casos el sistema nervioso no se ha percatado de la existencia de éstos, o en el caso de daño neurológico la estimulación ecuestre propicia y fortalece la plasticidad cerebral. </p>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
              <img class="object-cover object-center rounded" alt="hero" src="/assets/beneficios1.jpg">
            </div>
          </div>
        </section>
      </section>
    </article>
    <footer class="snap-center">
        <!-- añadido aqui y no en app component para que no genere dos barras de desplazamiento -->
        <app-footer></app-footer>
    </footer>
</section>
