<section class="mt-40 bg-[#D2B895]" style="background-image: url(/assets/contacto.avif)">
    <article class="hero min-h-screen" style="background-image: url(/assets/beneficios1.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">¿Qué es la Equinoterapia?</h1>
            <p class="mb-5">La Equinotrapia es una actividad conocida en todo el mundo por los logros alcanzados. Es una terapia que utiliza el caballo como instrumento terapéutico para la rehabilitación de pacientes con diversas patologías. Se abordan las áreas motora, cognitiva, emocional, social y de lenguaje.</p>
          </div>
        </div>
    </article>
    <article class="py-24">
      <div class="container px-5 mx-auto">
        <div class="flex flex-wrap w-full mb-20 bg-gray-100 rounded-lg bg-opacity-90 p-6 ">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">¿Por qué los caballos? </h1>
            <div class="h-1 w-28 bg-[#96A280] rounded"></div>
          </div>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-500 mb-1">Pues los mismos en su andar, realizan un movimiento tridimensional (Arriba, abajo, adelante, atrás y hacia los lados) que es trasmitido al jinete como masajes, calor y una gran cantidad de estímulos que impactan a nivel neurológico estimulando los músculos y las articulaciones. Mejora los impulsos rítmicos variables y repetitivos.</p>
          <p class=" w-full leading-relaxed text-gray-500 mb-1">Cada paso completo del caballo presenta patrones semejantes al caminar humano, impone dislocaciones de la cintura pélvica del jinete del orden de los 5 cm. en el plano vertical, horizontal y longitudinal y una rotación de 8 grados para un lado y para el otro. El caballo al dislocarse, exige al jinete ajustes tónicos para adaptar su equilibrio a cada movimiento. Cada paso del caballo, produce desde 1 a 1,25 movimientos por segundo, en 30 minutos de trabajo, el jinete ejecuta entre 1800 y 2250 ajustes ósteo-articulares que son transmitidos al cerebro vía médula con una frecuencia de 180 oscilaciones por minuto, esto hace que se genere una notable mejora en el tono muscular, de marcha y de coordinación.</p>
          <p class=" w-full leading-relaxed text-gray-500 mb-1">Además, el contacto con el caballo aporta facetas terapéuticas a niveles cognitivos, comunicativos y de personalidad, pues el campo abierto con sus sonidos, colores, aromas es utilizado también como estímulo sensorial en el tratamiento. Los jinetes experimentan en las sesiones un gran sentimiento de autonomía y seguridad al poder dirigir al animal hacia el lugar deseado. </p>
        </div>
      </div>
      <app-swiper-slider></app-swiper-slider>
    </article>
    <article>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="lg:w-2/3 mx-auto">
            <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/820x340">
              <div class="text-center relative z-10 w-full">
                <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">Shooting Stars</h2>
                <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-1/2">
                <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x460">
                  <div class="text-center relative z-10 w-full">
                    <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars</h2>
                    <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                    <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="px-2 w-1/2">
                <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x420">
                  <div class="text-center relative z-10 w-full">
                    <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars</h2>
                    <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                    <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <div class="snap-center">
        <!-- añadido aqui y no en app component para que no genere dos barras de desplazamiento -->
        <app-footer></app-footer>
    </div>
</section>
