<section class="text-gray-600 body-font mt-40">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">El Centro de Equinoterapia El Alba</h1>
          <div class="h-1 w-28 bg-[#96A280] rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">El centro surge en el año 2004 en la ciudad de Mar del Plata, con una intención claramente terapéutica e integrativa. Nuestro objetivo es aportar una mejora en la calidad de vida a través de la experimentación de sensaciones físicas y psíquicas facilitadas por el caballo, nuestro mediador terapéutico. </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4 flex flex-col">
          <div class="bg-gray-100 p-6 rounded-lg flex-grow">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/centro1.jpg" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Reconocimiento</h2>
            <p class="leading-relaxed text-base">Nuestro Centro de equinoterapia ha obtenido el reconocimiento de interés por el Ministerio de Cultura de la Municipalidad de General Pueyrredón, así como también la declaración de interés por la Provincia de Buenos Aires a lo largo de nuestra trayectoria.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 flex flex-col">
          <div class="bg-gray-100 p-6 rounded-lg flex-grow">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/centro2.jpg" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Inclusión y oportunidades</h2>
            <p class="leading-relaxed text-base">Trabaja con diferentes Obras Sociales de la ciudad de Mar del Plata, otorgamientos de padrinazgos de empresas marplatenses y becas ofrecidas por nuestro centro, que dan la posibilidad a distintas familias a realizar esta gratificante  actividad de rehabilitación.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 flex flex-col">
          <div class="bg-gray-100 p-6 rounded-lg flex-grow">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/centro3.jpg" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Accesibilidad</h2>
            <p class="leading-relaxed text-base">En el mismo contamos con una rampa de dimensiones reglamentarias para facilitar el ascenso y descenso de los jinetes, un acceso al predio dedicado con gran espacio de estacionamiento y por supuesto un área de considerable dimensión para el desarrollo de la actividad.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 flex flex-col">
          <div class="bg-gray-100 p-6 rounded-lg flex-grow">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/centro4.avif" alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Armonía verde</h2>
            <p class="leading-relaxed text-base">El entorno que acompaña nuestra actividad es una maravillosa y añosa arboleda con colores y aromas que favorecen aún más el contacto con la naturaleza y crean en las personas que aquí asisten, el sitio mas propicio para su rehabilitación.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font mb-6">
    <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center bg-gray-100 rounded-lg">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="/assets/centro5.jpg">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-2">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">¿Quiénes somos?
          </h1>
          <hr class="h-1 bg-[#96A280] rounded">
        </div>
        <p class="mb-2 leading-tight">
          El Centro de Equinoterapia El Alba, trabaja en la rehabilitación de personas con diferentes discapacidades utilizando como terapeutas por naturaleza a los “caballos” elegidos por su docilidad, temperamento y entrenados por nosotros mismos.
        </p>
        <p class="mb-2 leading-tight">
          Somos un grupo de profesionales que abordamos en forma terapéutica e interdisciplinariamente la discapacidad en distintas áreas de rehabilitación; desde la terapia ocupacional, la psicología, la pedagogía, equitación y equinoterapia, compartiendo los mismos objetivos:
        </p>
        <ul class="list-disc list-inside mb-8">
          <li><i> Lograr la rehabilitación psicofísica de cada jinete/ paciente.</i></li>
          <li><i> Estimular el fortalecimiento de la identidad personal.</i></li>
          <li><i> Utilizar la equinoterapia como complemento de otros tratamientos.</i></li>
          <li><i> Mejorar la calidad de vida de las personas.</i></li>
        </ul>
        <p class="mb-2 leading-tight">
          Bajo la dirección de Silvina Selser, y la supervisión de Horacio Intelisano, nuestro instructor diplomado por la Federación Ecuestre Argentina, actúa el equipo del Alba abordando la actividad desde las áreas:
        </p>
        <ul class="list-disc list-inside mb-8">
          <li>Equinoterapia: Coordinación Silvina Selser -miembro de AAAEPAD, (Asociación Argentina de Actividades Ecuestres para Discapacitados).</li>
          <li>Area Hípica: Horacio Intelisano.</li>
          <li>Area Psicología: Lic. M. Emilce Osacar.</li>
          <li>Area Terapia ocupacional: Lic. María Eugenia González.</li>
          <li>Area Pedagógica: M. Carolina Ferrando y Silvina Selser.</li>
          <li>Area Veterinaria: Dr. Guillermo Tuñón.</li>
          <li>Auxiliares de pista: Sofía Intelisano- Florencia Benditti -Carolina Molina Alonso- Paula Alvarez- Ailín Barbero Rojas.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font relative">
    <div class="absolute inset-0 bg-gray-300">
      <iframe width="100%" height="100%" style="filter: grayscale(1) contrast(1.2) opacity(0.4);" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12595.649680567674!2d-57.6105316!3d-37.8857308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc2756270b99%3A0x94488b1b9a33c605!2sCentro%20de%20Equinoterapia%20el%20Alba-rehabili!5e0!3m2!1ses-419!2sar!4v1707260497737!5m2!1ses-419!2sar"></iframe>
    </div>
    <div class="container px-5 py-24 mx-auto mb-6 flex">
      <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md bg-opacity-50">
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">¿Dónde puedes encontrarnos?</h2>
        <p class="leading-relaxed mb-5 text-gray-600">El predio está situado en el barrio El Tejado, ruta 2 Km. 393. Estación Camet, Mar del Plata. Sobre las calles Gallardo y San Pedro.</p>
        <button class="text-white bg-[#62734F] border-0 py-2 px-6 focus:outline-none hover:bg-[#96A280] rounded text-lg">
          <a href="https://maps.google.com/maps?ll=-37.885731,-57.610532&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10684943066603963909" target="_blank" rel="noopener noreferrer">Como llegar aquí</a>
        </button>
      </div>
    </div>
  </section>
  <div class="snap-center">
    <!-- añadido aqui y no en app component para que no genere dos barras de desplazamiento -->
    <app-footer></app-footer>
</div>