<main class="snap snap-y snap-mandatory relative w-full  overflow-x-hidden scroll-smooth max-h-screen overflow-y-scroll transition delay-500">
    <div class="snap-center">
        <app-hero></app-hero>
    </div>
    <div class="snap snap-y snap-mandatory">
        <section class="flex items-center w-full h-screen bg-center bg-cover snap-start" style="background-image: url(
            /assets/centro.jpg)">
            <div class="w-1/12">&nbsp;</div>
            <div class="w-3/6 pt-24 text-white">
              <div class="relative  ">
                <h1>El centro de equinoterapia El Alba</h1>
                <h2>Con ustedes desde el año 2004, brindando atención terapéutica e integrativa</h2>
                <p>Aportando una mejora en la calidad de vida  a través del caballo, nuestro mediador terapéutico. </p>
              </div>
              <button class="btn btn-ghost hover:bg-[#62734F] hover:bg-opacity-50 hover:text-black min-h-min h-8">
                <a routerLink="/centro" class=" text-xs underline">Mas info aquí &rarr;</a>
              </button>
            </div>
        </section>
        <section class="flex justify-between items-center w-full h-screen bg-center bg-cover snap-start" style="background-image: url(
            /assets/beneficios.jpg)">
            <div class="w-1/12">&nbsp;</div>
            <div class="w-3/6 pt-24 text-white">
              <div class="relative">
                <h1>Beneficios</h1>
                <p>Psicológicos y emocionales, comunicacionales, psicomotrices, físicos, pedagógicos, sociables y relacionales.
                </p>
              </div>
              <div class="pt-3 ">
                <button class="btn btn-ghost hover:bg-[#62734F] hover:bg-opacity-50 hover:text-black min-h-min h-8">
                  <a routerLink="/beneficios" class=" text-xs underline">Mas info aquí &rarr;</a>
                </button>
              </div>
            </div>
        </section>
        <section class="flex items-center w-full h-screen bg-center bg-cover snap-start" style="background-image: url(
            /assets/novedades.jpg)">
            <div class="w-1/12">&nbsp;</div>
            <div class="w-3/6 pt-24 text-white">
              <div class="relative  ">
                <h1>Novedades</h1>
                <h2>Aquí encontraras las ultimas noticias de nuestras redes sociales.</h2>
                <p>Suscríbete para mas información.</p>
              </div>
              <div class="pt-3 ">
                <button class="btn btn-ghost hover:bg-[#62734F] hover:bg-opacity-50 hover:text-black min-h-min h-8">
                  <a routerLink="/novedades" class=" text-xs underline">Mas info aquí &rarr;</a>
                </button>
              </div>
            </div>
        </section>
        <section class="flex justify-between items-center w-full h-screen bg-center bg-cover snap-start" style="background-image: url(
            /assets/contacto.avif)">
            <div class="w-1/12">&nbsp;</div>
            <div class="w-3/6 pt-24 text-white pr-16">
              <div class="relative text-black">
                <div class="rounded bg-slate-100 opacity-50 px-2 pb-3">
                  <h1>Contacto</h1>
                  <p>Nuestra ubicación, correo, teléfono, Whatsapp y más.</p>
                </div>
              </div>
              <div class="pt-3 ">
                <button class="btn btn-ghost hover:bg-[#62734F] hover:bg-opacity-50 hover:text-black min-h-min h-8">
                  <a routerLink="/contacto" class=" text-xs underline">Mas info aquí &rarr;</a>
                </button>
              </div>
            </div>
        </section>
        <section class="flex items-center w-full h-screen bg-center bg-cover snap-start" style="background-image: url(
            /assets/participa.jpg)">
            <div class="w-1/12">&nbsp;</div>
            <div class="w-3/6 pt-24 text-white">
              <div class="relative  ">
                <h1>Se participe</h1>
                <h2>Únete a algo mágico como es El Alba, siendo voluntario, padrino o donando.</h2>
                <p>¡Tu esfuerzo vale!</p>
              </div>
              <div class="pt-3 ">
                <button class="btn btn-ghost hover:bg-[#62734F] hover:bg-opacity-50 hover:text-black min-h-min h-8">
                  <a routerLink="/participa" class=" text-xs underline">Mas info aquí &rarr;</a>
                </button>
              </div>
            </div>
        </section>
    </div>
    <div class="snap-center">
        <!-- añadido aqui y no en app component para que no genere dos barras de desplazamiento -->
        <app-footer></app-footer>
    </div>
</main>