<section class="bg-red-400">
    <swiper-container class="min-h-[40vh]" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
        centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" effect="fade">
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider1.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área psicológica y emocional</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Fomenta el sentimiento general de bienestar
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumenta el interés en el mundo exterior y en la propia vida
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumenta la respuesta ante situaciones de riesgo.
                        </i></li>
                        <li class="leading-tight"><i>
                            Adquirir y hacer evolucionar nuestra inteligencia emocional
                        </i></li>
                        <li class="leading-tight"><i>
                            Corrige problemas de conducta
                        </i></li>
                        <li class="leading-tight"><i>
                            Disminuye la ansiedad
                        </i></li>
                        <li class="leading-tight"><i>
                            Superar miedos
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider2.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área psicológica y emocional</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Mejora la autoestima, la confianza y la concentración
                        </i></li>
                        <li class="leading-tight"><i>
                            Vivir momentos de relajación e introspección
                        </i></li>
                        <li class="leading-tight"><i>
                            Estar más en contacto con el mundo natural
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejora el control emocional y autodisciplina
                        </i></li>
                        <li class="leading-tight"><i>
                            Genera una disminución del impulso agresivo
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumento de la responsabilidad
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider3.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área de comunicación</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Aumenta el vocabulario
                        </i></li>
                        <li class="leading-tight"><i>
                            Desarrolla nuestra comunicación con el caballo: cerebro emocional
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejorar y aumenta la comunicación gestual y oral
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider4.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área de socialización y relacional</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Incrementa la interacción social y la amistad 
                        </i></li>
                        <li class="leading-tight"><i>
                            Hacer lúdico nuestro presente 
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumentan las relaciones sociales
                        </i></li>
                        <li class="leading-tight"><i>
                            Fomenta patrones de relación adecuados en un entorno natural
                        </i></li>
                        <li class="leading-tight"><i>
                            Desarrolla el amor y el respeto hacia los animales
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumenta las experiencias
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider5.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área física y psicomotora</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Mejora el equilibrio: horizontal y vertical 
                        </i></li>
                        <li class="leading-tight"><i>
                            Fortalece la musculatura 
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejora la coordinación, la rapidez de reflejos y la planificación motora
                        </i></li>
                        <li class="leading-tight"><i>
                            Favorece la construcción de la simetría corporal 
                        </i></li>
                        <li class="leading-tight"><i>
                            Estira la musculatura espástica o tensa
                        </i></li>
                        <li class="leading-tight"><i>
                            Disminuye la espasticidad
                        </i></li>
                        <li class="leading-tight"><i>
                            Automatización del patrón de la marcha
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider6.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área física y psicomotora</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Aumenta la capacidad de movimiento de las articulaciones 
                        </i></li>
                        <li class="leading-tight"><i>
                            Reduce los patrones de movimiento anormales 
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejora la capacidad respiratoria y circulatoria
                        </i></li>
                        <li class="leading-tight"><i>
                            Potencia la integración sensorial
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejora la estabilización del tronco y de la cabeza
                        </i></li>
                        <li class="leading-tight"><i>
                            Incremento de la elasticidad, la agilidad y fuerza muscular
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
        <swiper-slide class="flex justify-center items-center">
            <img class="min-h-[40vh] block w-full h-full object-cover" src="/assets/slider7.jpg" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Beneficios del contacto con el caballo</h2>
                <p class="text-lg">Área pedagógica</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            Potencia la secuenciación y la planificación motriz  
                        </i></li>
                        <li class="leading-tight"><i>
                            Potencia la adquisición de aprendizajes dentro del ámbito ecuestre 
                        </i></li>
                        <li class="leading-tight"><i>
                            Mejora la coordinación óculo-manual
                        </i></li>
                        <li class="leading-tight"><i>
                            Potencia la percepción visual espacial 
                        </i></li>
                        <li class="leading-tight"><i>
                            Conocimiento del esquema corporal
                        </i></li>
                        <li class="leading-tight"><i>
                            Aumento de la atención y la concentración mental
                        </i></li>
                    </ul>
            </div>
        </swiper-slide>
    </swiper-container>
</section>
