
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

body {
    scroll-behavior: smooth;
    transition: 0.3s ease all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --alba:#62734F,
    --alba1:#96A280
}
@layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
      --scroll-snap-direction: y;
    }
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
    .snap-start {
      scroll-snap-align: start;
    }
  }