
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

//@import '~swiper/swiper-bundle.min.css';


body {
    scroll-behavior: smooth;
    transition: 0.3s ease all;
    font-family: josefin, sans-serif;
}

@layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
      --scroll-snap-direction: y;
    }
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
    .snap-start {
      scroll-snap-align: start;
    }
  }

@font-face {
  font-family: 'josefin';
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'josefin';
  src: url('/assets/fonts/JosefinSans-light.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}